.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    height: 57px;
    width: 52px;
    margin-left: 17px;
}
.logo>.image{
    height: 100%;
    width: 100%;
}
.header__links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 1px;
    size: letter;
    margin-right: 1px;
    list-style: none;
}
.header_li{
    margin: 5px 13px;
    cursor: pointer;
    color: gray;

}
.header_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLinks{
    text-decoration: none;
    margin: 5px 13px;
    cursor: pointer;
    color: gray; 
}
.navLink{
    text-decoration: none;
    font-weight: bolder;
}